.form {
    margin: 10px;
    padding: 10px;
}

.enable {
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

.disable {
    background-color: indianred;
    padding: 10px;
    margin: 10px;
}


table {
    border: 1px black solid; /* セルの枠線（太さ・色・スタイル） */
}

td,th {
    border: 1px black solid; /* セルの枠線（太さ・色・スタイル） */
}